# Pandas

### Series

In [2]:
import pandas as pd

series_test = pd.Series([100, 200, 300])

series_test

0    100
1    200
2    300
dtype: int64

In [3]:
series_test2 = pd.Series({1999: 48,
                         2000: 65,
                         2001: 89})

series_test2

1999    48
2000    65
2001    89
dtype: int64

### DataFrames

In [4]:
frame_test = pd.DataFrame({1999: [74, 89, 65, 165],
                          2000: [54, 64, 67, 945],
                          2001: [98, 65, 78, 632]})

frame_test

   1999  2000  2001
0    74    54    98
1    89    64    65
2    65    67    78
3   165   945   632

In [16]:
v = 'Producto '
frame_test2 =pd.DataFrame([[74, 89, 65, 165],
                         [54, 64, 67, 945],
                         [98, 65, 78, 632]], 
                          columns=[1999, 2000, 2001, 2002],
                         index=[v+'1', v+'2', v+'3'])

frame_test2

            1999  2000  2001  2002
Producto 1    74    89    65   165
Producto 2    54    64    67   945
Producto 3    98    65    78   632

### Read data

In [36]:
pd.options.display.max_rows = 10

el_universal = pd.read_csv('eluniversal_2020_10_02_articles.csv', encoding='ISO-8859-1')

el_universal

,body,title,url
0,\r\n\r\nNos cuentan que el coordinador parlame...,NaN,https://www.eluniversal.com.mx/opinion/periodi...
1,\r\n\r\n\r\n\r\n\r\n\r\nLa convocatoria de Bec...,Beca de Manutención 2020: Registro en SUBES ci...,https://www.unionguanajuato.mx/articulo/2020/1...
2,"\r\nQue diferencia, ahora sí la Suprema Corte ...",NaN,https://www.eluniversal.com.mx/opinion/arlequi...
3,\r\nUn tribunal alemán condenó este viernes a ...,NaN,https://www.eluniversal.com.mx/mundo/condenan-...
4,\r\n\r\nLos grupos parlamentarios de oposición...,NaN,https://www.eluniversal.com.mx/nacion/revienta...
...,...,...,...
8,\r\n\r\n\r\n\r\n\r\n\r\nLa participación de jó...,"La Guadaña, la trágica muerte de la pistolera ...",https://www.unionjalisco.mx/articulo/2020/10/0...
9,\r\nMorena y sus sectores sociales han radical...,NaN,https://www.eluniversal.com.mx/opinion/marcela...
10,\r\n\r\nLa decisión sobre si se otorga o no un...,NaN,https://www.viveusa.mx/educacion/se-puede-volv...
11,"\r\nMiguel Barbosa, gobernador del estado de P...",NaN,https://www.eluniversal.com.mx/universal-depor...
12,\r\nPatricio Borghetti lamentó el fallecimient...,NaN,https://www.eluniversal.com.mx/espectaculos/pa...

### Index and Selection

In [37]:
# dictionary like

el_universal['title']

0                                                   NaN
1     Beca de Manutención 2020: Registro en SUBES ci...
2                                                   NaN
3                                                   NaN
4                                                   NaN
                            ...
8     La Guadaña, la trágica muerte de la pistolera ...
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
Name: title, Length: 13, dtype: object